backports-abc==0.5
beautifulsoup4==4.5.1
certifi==2016.9.26
cffi==1.9.1
cryptography==1.5.3
dj-database-url==0.4.0
Django==1.9.2
django-livereload-server==0.2.3
enum34==1.1.6
gunicorn==19.4.5
idna==2.1
inflection==0.3.1
ipaddress==1.0.17
more-itertools==2.3
ndg-httpsclient==0.4.2
numpy==1.11.2
pandas==0.19.0
psycopg2==2.6.1
pyasn1==0.1.9
pycparser==2.17
pyOpenSSL==16.2.0
python-dateutil==2.6.0
pytz==2016.7
Quandl==3.0.1
requests==2.9.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
whitenoise==2.0.6
simplejson==3.10.0